<%- include('header.ejs') -%>

    <!--Main Slider Start-->
    <section class="main-slider clearfix" id="home">
        <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'>
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(assets/images/backgrounds/couverture1.png);"></div>
                    <!-- /.image-layer -->

                    <div class="main-slider-shape-1 float-bob-x">
                        <img src="assets/images/shapes/couverture1.png" alt="">
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider__content">

                                    <h2 class="main-slider__title">Une assurance <br> pour une vie de <br> famille
                                        <span>meilleure.</span></h2>
                                    <p class="main-slider__text">Phasellus condimentum laoreet turpis, ut tincid
                                        sodales <br> in. Integer leo arcu, mollis sit amet tempor.</p>
                                    <div class="main-slider__btn-box">
                                        <a href="/faq" class="thm-btn main-slider__btn">Nous Contacter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(assets/images/backgrounds/couverture2.png);"></div>
                    <!-- /.image-layer -->

                    <div class="main-slider-shape-1 float-bob-x">
                        <img src="assets/images/shapes/couverture2.png" alt="">
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider__content">
                                    <h2 class="main-slider__title">Insurance <br> for the better <br> family
                                        <span>life.</span></h2>
                                    <p class="main-slider__text">Phasellus condimentum laoreet turpis, ut tincid
                                        sodales <br> in. Integer leo arcu, mollis sit amet tempor.</p>
                                    <div class="main-slider__btn-box">
                                        <a href="/faq" class="thm-btn main-slider__btn">Nous Contacter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(assets/images/backgrounds/couverture3.png);"></div>
                    <!-- /.image-layer -->

                    <div class="main-slider-shape-1 float-bob-x">
                        <img src="assets/images/shapes/couverture3.png" alt="">
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider__content">
                                    <h2 class="main-slider__title">Insurance <br> for the better <br> family
                                        <span>life.</span></h2>
                                    <p class="main-slider__text">Phasellus condimentum laoreet turpis, ut tincid
                                        sodales <br> in. Integer leo arcu, mollis sit amet tempor.</p>
                                    <div class="main-slider__btn-box">
                                        <a href="/faq" class="thm-btn main-slider__btn">Nous Contacter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- If we need navigation buttons -->
            <div class="main-slider__nav">
                <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                    <i class="icon-right-arrow"></i>
                </div>
                <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                    <i class="icon-right-arrow1"></i>
                </div>
            </div>

        </div>
    </section>
    <!--Main Slider End-->

    <!--Feature One Start-->
    <section class="feature-one">
        <div class="container">
            <div class="feature-one__inner">
                <div class="row">
                    <!--Feature One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                        <div class="feature-one__single">
                            <div class="feature-one__single-inner">
                                <div class="feature-one__icon">
                                    <span class="icon-insurance"></span>
                                </div>
                                <div class="feature-one__count"></div>
                                <div class="feature-one__shape">
                                    <img src="assets/images/shapes/feature-one-shape-1.png" alt="">
                                </div>
                                <h3 class="feature-one__title"><a href="about.html">Sécurisez votre argent</a></h3>
                                <p class="feature-one__text">Lorem ipsum dolor amet consectetur adipiscing elit do
                                    eiusmod tempor incid idunt ut labore.</p>
                            </div>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                    <!--Feature One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                        <div class="feature-one__single">
                            <div class="feature-one__single-inner">
                                <div class="feature-one__icon">
                                    <span class="icon-cashback"></span>
                                </div>
                                <div class="feature-one__count"></div>
                                <div class="feature-one__shape">
                                    <img src="assets/images/shapes/feature-one-shape-1.png" alt="">
                                </div>
                                <h3 class="feature-one__title"><a href="about.html">Obtenez un dévis</a></h3>
                                <p class="feature-one__text">Lorem ipsum dolor amet consectetur adipiscing elit do
                                    eiusmod tempor incid idunt ut labore.</p>
                            </div>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                    <!--Feature One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                        <div class="feature-one__single">
                            <div class="feature-one__single-inner">
                                <div class="feature-one__icon">
                                    <span class="icon-house"></span>
                                </div>
                                <div class="feature-one__count"></div>
                                <div class="feature-one__shape">
                                    <img src="assets/images/shapes/feature-one-shape-1.png" alt="">
                                </div>
                                <h3 class="feature-one__title"><a href="about.html">Rapide & fiable</a></h3>
                                <p class="feature-one__text">Lorem ipsum dolor amet consectetur adipiscing elit do
                                    eiusmod tempor incid idunt ut labore.</p>
                            </div>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                </div>
            </div>
        </div>
    </section>
    <!--Feature One End-->

    <!--About One Start-->
    <section class="about-one" id="about">
        <div class="about-one-bg wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms"
             style="background-image: url(assets/images/backgrounds/about-one-bg.png);"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="about-one__left">
                        <div class="about-one__img-box wow slideInLeft" data-wow-delay="100ms"
                             data-wow-duration="2500ms">
                            <div class="about-one__img">
                                <img src="assets/images/resources/about-one-img-1.jpg" alt="">
                            </div>
                            <div class="about-one__img-two">
                                <img src="assets/images/resources/about-one-img-2.jpg" alt="">
                            </div>
<!--                            <div class="about-one__experience">-->
<!--                                <h2 class="about-one__experience-year">30</h2>-->
<!--                                <p class="about-one__experience-text">Years of <br> Experience</p>-->
<!--                            </div>-->
                            <div class="about-one__shape-1">
                                <img src="assets/images/shapes/about-one-shape-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-one__right">
                        <div class="section-title text-left">
                            <div class="section-sub-title-box">
                                <p class="section-sub-title">A propos d'AMS</p>
                                <div class="section-title-shape-1">
                                    <img src="assets/images/shapes/section-title-shape-1.png" alt="">
                                </div>
                                <div class="section-title-shape-2">
                                    <img src="assets/images/shapes/section-title-shape-2.png" alt="">
                                </div>
                            </div>
                            <h2 class="section-title__title">Nous vous proposons la meilleure police d'assurance</h2>
                        </div>
                        <p class="about-one__text-1">Duis aute irure dolor in reprehenderit in velit.</p>
                        <ul class="list-unstyled about-one__points">
                            <li>
                                <div class="icon">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="text">
                                    <p>Optimiser et adapter vos programmes d’assurance.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="text">
                                    <p>Gérer la vie des contrats d’assurance.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="text">
                                    <p>Proposer de nouveaux services.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="text">
                                    <p>Faciliter le quotidien des salariés et des équipes assurances de l’entreprise.</p>
                                </div>
                            </li>
                        </ul>
                        <p class="about-one__text-2">Nullam eu nibh vitae est tempor molestie id sed ex.</p>
                        <div class="about-one__btn-call">
                            <div class="about-one__btn-box">
                                <a href="about.html" class="thm-btn about-one__btn">Discover More</a>
                            </div>
                            <div class="about-one__call">
                                <div class="about-one__call-icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="about-one__call-content">
                                    <a href="tel:9200368090">+92 (003) 68-090</a>
                                    <p>Call to Our Experts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About One End-->

    <!--Services One Start-->
    <section class="services-one" id="insurance">
        <div class="services-one__top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6">
                        <div class="services-one__top-left">
                            <div class="section-title text-left">
                                <div class="section-sub-title-box">
                                    <p class="section-sub-title">Nos services</p>
                                    <div class="section-title-shape-1">
                                        <img src="assets/images/shapes/section-title-shape-1.png" alt="">
                                    </div>
                                    <div class="section-title-shape-2">
                                        <img src="assets/images/shapes/section-title-shape-2.png" alt="">
                                    </div>
                                </div>
                                <h2 class="section-title__title">Nous couvrons tous les domaines des assurances</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="services-one__top-right">
                            <p class="services-one__top-text">Nullam eu nibh vitae est tempor molestie id sed ex.
                                Quisque dignissim maximus ipsum, sed rutrum metus tincidunt et. Sed eget tincidunt
                                ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-one__bottom">
            <div class="services-one__container">
                <div class="row">
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="services-one__single">
                            <div class="service-one__img">
                                <img src="assets/images/services/insu-auto.png" alt="">
                            </div>
                            <div class="service-one__content">
                                <div class="services-one__icon">
                                    <span class="icon-drive"></span>
                                </div>
                                <h2 class="service-one__title"><a href="/assurance-auto">Assurance Auto</a></h2>
                                <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                    elit.</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="services-one__single">
                            <div class="service-one__img">
                                <img src="assets/images/services/insu-famille.png" alt="">
                            </div>
                            <div class="service-one__content">
                                <div class="services-one__icon">
                                    <span class="icon-family"></span>
                                </div>
                                <h2 class="service-one__title"><a href="/assurance-famille">Assurance Famille</a></h2>
                                <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                    elit.</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="services-one__single">
                            <div class="service-one__img">
                                <img src="assets/images/services/insu-RCCF.png" alt="">
                            </div>
                            <div class="service-one__content">
                                <div class="services-one__icon">
                                    <span class="icon-home"></span>
                                </div>
                                <h2 class="service-one__title"><a href="/assurance-rccf">RCCF</a></h2>
                                <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                    elit.</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="services-one__single">
                            <div class="service-one__img">
                                <img src="assets/images/services/insu-maladie.png" alt="">
                            </div>
                            <div class="service-one__content">
                                <div class="services-one__icon">
                                    <span class="icon-heart-beat"></span>
                                </div>
                                <h2 class="service-one__title"><a href="/assurance-maladie">Assurance Maladie</a>
                                </h2>
                                <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                    elit.</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                        <div class="services-one__single">
                            <div class="service-one__img">
                                <img src="assets/images/services/insu-RCCE.png" alt="">
                            </div>
                            <div class="service-one__content">
                                <div class="services-one__icon">
                                    <span class="icon-briefcase"></span>
                                </div>
                                <h2 class="service-one__title"><a href="/assurance-rcce">RCCE</a></h2>
                                <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                    elit.</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                        <div class="services-one__single">
                            <div class="service-one__img">
                                <img src="assets/images/services/insu-multirisque-habitation.png" alt="">
                            </div>
                            <div class="service-one__content">
                                <div class="services-one__icon">
                                    <span class="icon-fire"></span>
                                </div>
                                <h2 class="service-one__title"><a href="/assurance-multirisque">Assurance Multirisque</a></h2>
                                <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                    elit.</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="700ms">
                        <div class="services-one__single">
                            <div class="service-one__img">
                                <img src="assets/images/services/insu-individuel-accident.png" alt="">
                            </div>
                            <div class="service-one__content">
                                <div class="services-one__icon">
                                    <span class="icon-ring"></span>
                                </div>
                                <h2 class="service-one__title"><a href="">Assurance Individuel Accident</a></h2>
                                <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                    elit.</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="800ms">
                        <div class="services-one__single">
                            <div class="service-one__img">
                                <img src="assets/images/services/insu-voyage.png" alt="">
                            </div>
                            <div class="service-one__content">
                                <div class="services-one__icon">
                                    <span class="icon-plane"></span>
                                </div>
                                <h2 class="service-one__title"><a href="/assurance-voyage">Assurance Voyage</a>
                                </h2>
                                <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                    elit.</p>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                </div>
            </div>
        </div>
    </section>
    <!--Services One End-->

    <!--Why Choose One Start-->
    <section class="why-choose-one">
        <div class="why-choose-one-shape-1"
             style="background-image: url(assets/images/shapes/why-choose-one-shape-1.png);"></div>
        <div class="why-choose-one-shape-2 float-bob-y">
            <img src="assets/images/shapes/why-choose-one-shape-2.png" alt="">
        </div>
        <div class="why-choose-one-shape-3 float-bob-x">
            <img src="assets/images/shapes/why-choose-one-shape-3.png" alt="">
        </div>
        <div class="why-choose-one-shape-4 float-bob-y">
            <img src="assets/images/shapes/why-choose-one-shape-4.png" alt="">
        </div>
        <div class="why-choose-one-shape-5 float-bob-y">
            <img src="assets/images/shapes/why-choose-one-shape-5.png" alt="">
        </div>
        <div class="why-choose-one-shape-6 float-bob-x">
            <img src="assets/images/shapes/why-choose-one-shape-6.png" alt="">
        </div>
        <div class="why-choose-one-img wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms">
            <img src="assets/images/resources/why-choose-one-img.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7">
                    <div class="why-choose-one__left">
                        <div class="section-title text-left">
                            <div class="section-sub-title-box">
                                <p class="section-sub-title">Pourquoi nous choisir?</p>
                                <div class="section-title-shape-1">
                                    <img src="assets/images/shapes/section-title-shape-3.png" alt="">
                                </div>
                                <div class="section-title-shape-2">
                                    <img src="assets/images/shapes/section-title-shape-4.png" alt="">
                                </div>
                            </div>
                            <h2 class="section-title__title">Quelques raisons pour lesquelles les gens choisissent AMS</h2>
                        </div>
                        <p class="why-choose-one__text">Nullam eu nibh vitae est tempor molestie id sed ex. Quisque
                            dignissim maximus ipsum, sed rutrum metus tincidunt et.</p>
                        <div class="why-choose-one__list-box">
                            <ul class="list-unstyled why-choose-one__list">
                                <li>
                                    <div class="why-choose-one__single">
                                        <div class="why-choose-one__list-icon">
                                            <span class="icon-easy-to-use"></span>
                                        </div>
                                        <div class="why-choose-one__list-title-box">
                                            <div class="why-choose-one__list-title-inner">
                                                <h3 class="why-choose-one__list-title">Accompagnement juridique</h3>
                                            </div>
                                            <div class="why-choose-one__list-text-box">
                                                <p class="why-choose-one__list-text">
                                                    ▪ Veille et analyse juridique
                                                    ▪ Notes et formations juridiques
                                                    ▪ Etudes d’impacts liés aux évolutions réglementaires
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="why-choose-one__single">
                                        <div class="why-choose-one__list-icon">
                                            <span class="icon-contract"></span>
                                        </div>
                                        <div class="why-choose-one__list-title-box">
                                            <div class="why-choose-one__list-title-inner">
                                                <h3 class="why-choose-one__list-title">Pilotage technique &amp; optimisation</h3>
                                            </div>
                                            <div class="why-choose-one__list-text-box">
                                                <p class="why-choose-one__list-text">▪ Produire, analyser et projeter vos résultats
                                                    ▪ Harmoniser / optimiser vos conditions de couverture</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="why-choose-one__single">

                                        <div class="why-choose-one__list-icon">
                                            <span class="icon-fund"></span>
                                        </div>
                                        <div class="why-choose-one__list-title-box">
                                            <div class="why-choose-one__list-title-inner">
                                                <h3 class="why-choose-one__list-title">Placement &amp; Renouvellement</h3>
                                            </div>
                                            <div class="why-choose-one__list-text-box">
                                                <p class="why-choose-one__list-text">Négocier les conditions de renouvellement dans le cadre d’un partenariat gagnant/gagnant</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="why-choose-one__single">
                                        <div class="why-choose-one__list-icon">
                                            <span class="icon-policy"></span>
                                        </div>
                                        <div class="why-choose-one__list-title-box">
                                            <div class="why-choose-one__list-title-inner">
                                                <h3 class="why-choose-one__list-title">Communication &amp; Innovation</h3>
                                            </div>
                                            <div class="why-choose-one__list-text-box">
                                                <p class="why-choose-one__list-text">▪ Proposer de nouveaux risques en adéquation avec votre activité
                                                    ▪ Encourager les bonnes pratiques</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Why Choose One End-->

    <!--Get Insurance Start-->
    <section class="get-insurance" id="quotes">
        <div class="get-insurance-bg"
             style="background-image: url(assets/images/backgrounds/get-insurance-bg.png);"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="get-insurance__left">
                        <div class="get-insurance__img wow slideInLeft" data-wow-delay="100ms"
                             data-wow-duration="2500ms">
                            <img src="assets/images/resources/get-insurance-img-1.png" alt="">
                        </div>
                        <div class="get-insurance__author">
                            <p>Aleesha Rose</p>
                        </div>
                        <div class="get-insurance__circle"></div>
                        <div class="get-insurance__shape-1 float-bob-x">
                            <img src="assets/images/shapes/get-insurance-shape-1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="get-insurance__right">
                        <div class="section-title text-left">
                            <div class="section-sub-title-box">
                                <p class="section-sub-title">Devis gratuit</p>
                                <div class="section-title-shape-1">
                                    <img src="assets/images/shapes/section-title-shape-1.png" alt="">
                                </div>
                                <div class="section-title-shape-2">
                                    <img src="assets/images/shapes/section-title-shape-2.png" alt="">
                                </div>
                            </div>
                            <h2 class="section-title__title">Obtenez une soumission d'assurance <br> pour commencer!</h2>
                        </div>
                        <div class="get-insurance__tab">
                            <div class="get-insurance__tab-box tabs-box">
                                <ul class="tab-buttons clearfix list-unstyled">
                                    <li data-tab="#home2" class="tab-btn active-btn"><span>Maison</span></li>
                                    <li data-tab="#vehicles" class="tab-btn"><span>Vehicule</span></li>
                                    <li data-tab="#health" class="tab-btn"><span>Santé</span></li>
                                    <li data-tab="#life" class="tab-btn"><span>Vie</span></li>
                                </ul>
                                <div class="tabs-content">
                                    <!--tab-->
                                    <div class="tab active-tab" id="home2">
                                        <div class="get-insurance__content">
                                            <form class="get-insurance__form">
                                                <div class="get-insurance__content-box">
                                                    <div class="get-insurance__input-box">
                                                        <input type="text" placeholder="Nom complet" name="name">
                                                    </div>
                                                    <div class="get-insurance__input-box">
                                                        <input type="email" placeholder="Email"
                                                               name="email">
                                                    </div>
                                                    <div class="get-insurance__input-box">
                                                        <input type="text" placeholder="Numero de télephone"
                                                               name="phone">
                                                    </div>
                                                </div>

                                                <a type="submit" class="thm-btn get-insurance__btn" href="">Obtenez un Dévis</a>
                                            </form>
                                        </div>
                                    </div>
                                    <!--tab-->
                                    <div class="tab" id="vehicles">
                                        <div class="get-insurance__content">
                                            <form class="get-insurance__form">
                                                <div class="get-insurance__content-box">
                                                    <div class="get-insurance__input-box">
                                                        <input type="text" placeholder="Nom complet" name="name">
                                                    </div>
                                                    <div class="get-insurance__input-box">
                                                        <input type="email" placeholder="Email"
                                                               name="email">
                                                    </div>
                                                    <div class="get-insurance__input-box">
                                                        <input type="text" placeholder="Numero de télephone"
                                                               name="phone">
                                                    </div>
                                                </div>

                                                <a type="submit" class="thm-btn get-insurance__btn" href="/quotes">Obtenez un Dévis</a>
                                            </form>
                                        </div>
                                    </div>
                                    <!--tab-->
                                    <div class="tab" id="health">
                                        <div class="get-insurance__content">
                                            <form class="get-insurance__form">
                                                <div class="get-insurance__content-box">
                                                    <div class="get-insurance__input-box">
                                                        <input type="text" placeholder="Nom complet" name="name">
                                                    </div>
                                                    <div class="get-insurance__input-box">
                                                        <input type="email" placeholder="Email"
                                                               name="email">
                                                    </div>
                                                    <div class="get-insurance__input-box">
                                                        <input type="text" placeholder="Numero de télephone"
                                                               name="phone">
                                                    </div>
                                                </div>

                                                <a type="submit" class="thm-btn get-insurance__btn" href="">Obtenez un Dévis</a>
                                            </form>
                                        </div>
                                    </div>
                                    <!--tab-->
                                    <div class="tab" id="life">
                                        <div class="get-insurance__content">
                                            <form class="get-insurance__form">
                                                <div class="get-insurance__content-box">
                                                    <div class="get-insurance__input-box">
                                                        <input type="text" placeholder="Nom complet" name="name">
                                                    </div>
                                                    <div class="get-insurance__input-box">
                                                        <input type="email" placeholder="Email"
                                                               name="email">
                                                    </div>
                                                    <div class="get-insurance__input-box">
                                                        <input type="text" placeholder="Numero de télephone"
                                                               name="phone">
                                                    </div>
                                                </div>

                                                <a type="submit" class="thm-btn get-insurance__btn" href="">Obtenez un Dévis</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Get Insurance End-->

    <!--Counter One Start-->
    <Section class="counter-one">
        <div class="counter-one-shape-1 float-bob-y">
            <img src="assets/images/shapes/counter-one-shape-1.png" alt="">
        </div>
        <div class="counter-one-shape-2 float-bob-y">
            <img src="assets/images/shapes/counter-one-shape-2.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <!--Counter One Single Start-->
                <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="counter-one__single">
                        <div class="counter-one__top">
                            <div class="counter-one__icon">
                                <span class="icon-insurance-1"></span>
                            </div>
                            <div class="counter-one__count-box">
                                <div class="counter-one__count-box-inner">
                                    <h3 class="odometer" data-count="2.6">00</h3>
                                    <span class="counter-one__plus">k</span>
                                </div>
                            </div>
                        </div>
                        <p class="counter-one__text">Assurances établies</p>
                    </div>
                </div>
                <!--Counter One Single End-->
                <!--Counter One Single Start-->
                <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="counter-one__single">
                        <div class="counter-one__top">
                            <div class="counter-one__icon">
                                <span class="icon-group"></span>
                            </div>
                            <div class="counter-one__count-box">
                                <div class="counter-one__count-box-inner">
                                    <h3 class="odometer" data-count="89">00</h3>
                                    <span class="counter-one__plus">+</span>
                                </div>
                            </div>
                        </div>
                        <p class="counter-one__text">Equipe professionelle</p>
                    </div>
                </div>
                <!--Counter One Single End-->
                <!--Counter One Single Start-->
                <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                    <div class="counter-one__single">
                        <div class="counter-one__top">
                            <div class="counter-one__icon">
                                <span class="icon-life-insurance"></span>
                            </div>
                            <div class="counter-one__count-box">
                                <div class="counter-one__count-box-inner">
                                    <h3 class="odometer" data-count="2.8">00</h3>
                                    <span class="counter-one__plus">k</span>
                                </div>
                            </div>
                        </div>
                        <p class="counter-one__text">Clients satisfaits</p>
                    </div>
                </div>
                <!--Counter One Single End-->
                <!--Counter One Single Start-->
                <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="counter-one__single">
                        <div class="counter-one__top">
                            <div class="counter-one__icon">
                                <span class="icon-success"></span>
                            </div>
                            <div class="counter-one__count-box">
                                <div class="counter-one__count-box-inner">
                                    <h3 class="odometer" data-count="99">00</h3>
                                    <span class="counter-one__plus">%</span>
                                </div>
                            </div>
                        </div>
                        <p class="counter-one__text">Notre taux de réussite</p>
                    </div>
                </div>
                <!--Counter One Single End-->
            </div>
        </div>
    </Section>
    <!--Counter One End-->

    <!--Team One Start-->
    <section class="team-one" id="team">
        <div class="team-one__shape-1 float-bob-y">
            <img src="assets/images/shapes/team-one-shape-1.png" alt="">
        </div>
        <div class="container">
            <div class="section-title text-center">
                <div class="section-sub-title-box">
                    <p class="section-sub-title">Nos experts</p>
                    <div class="section-title-shape-1">
                        <img src="assets/images/shapes/section-title-shape-1.png" alt="">
                    </div>
                    <div class="section-title-shape-2">
                        <img src="assets/images/shapes/section-title-shape-2.png" alt="">
                    </div>
                </div>
                <h2 class="section-title__title">Rencontrez notre <br> équipe d'experts</h2>
            </div>
            <div class="row">
                <!--Team One Single Start-->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <div class="team-one__single">
                        <div class="team-one__img">
                            <div class="team-one__img-box">
                                <img src="assets/images/team/team-1-1.jpg" alt="">
                            </div>
                            <ul class="list-unstyled team-one__social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-one__content">
                            <p class="team-one__sub-title">Manager</p>
                            <h3 class="team-one__name"><a href="team-details.html">Thomas Jakson</a></h3>
                            <ul class="list-unstyled team-one__social-two">
                                <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Team One Single End-->
                <!--Team One Single Start-->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                    <div class="team-one__single">
                        <div class="team-one__img">
                            <div class="team-one__img-box">
                                <img src="assets/images/team/team-1-2.jpg" alt="">
                            </div>
                            <ul class="list-unstyled team-one__social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-one__content">
                            <p class="team-one__sub-title">Manager</p>
                            <h3 class="team-one__name"><a href="team-details.html">Hallen Smith</a></h3>
                            <ul class="list-unstyled team-one__social-two">
                                <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Team One Single End-->
                <!--Team One Single Start-->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                    <div class="team-one__single">
                        <div class="team-one__img">
                            <div class="team-one__img-box">
                                <img src="assets/images/team/team-1-3.jpg" alt="">
                            </div>
                            <ul class="list-unstyled team-one__social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-one__content">
                            <p class="team-one__sub-title">Manager</p>
                            <h3 class="team-one__name"><a href="team-details.html">David Cooper</a></h3>
                            <ul class="list-unstyled team-one__social-two">
                                <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Team One Single End-->
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="team-one__bottom">
                        <p class="team-one__bottom-text">Contactez nos experts pour prendre <span>nos meilleurs offres</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Team One End-->

    <!--Testimonial One Start-->
    <section class="testimonial-one">
        <div class="testimonial-one-shape-2 float-bob-y">
            <img src="assets/images/shapes/testimonial-one-shape-2.png" alt="">
        </div>
        <div class="testimonial-one-shape-3 float-bob-y">
            <img src="assets/images/shapes/testimonial-one-shape-3.png" alt="">
        </div>
        <div class="container">
            <div class="testimonial-one__top">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="testimonial-one__top-left">
                            <div class="section-title text-left">
                                <div class="section-sub-title-box">
                                    <p class="section-sub-title">Ils nous font confiance</p>
                                    <div class="section-title-shape-1">
                                        <img src="assets/images/shapes/section-title-shape-1.png" alt="">
                                    </div>
                                    <div class="section-title-shape-2">
                                        <img src="assets/images/shapes/section-title-shape-2.png" alt="">
                                    </div>
                                </div>
                                <h2 class="section-title__title">Ce que nos clients<br> disent de nous</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="testimonial-one__top-right">
                            <p class="testimonial-one__top-text">Pellentesque habitant morbi tristique senectus
                                netus et malesuada fames ac turp egestas. Aliquam viverra arcu. Donec aliquet
                                blandit enim feugiat mattis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-one__bottom">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="owl-carousel owl-theme thm-owl__carousel testimonial-one__carousel"
                             data-owl-options='{
                                "loop": true,
                                "autoplay": true,
                                "margin": 30,
                                "nav": false,
                                "dots": false,
                                "smartSpeed": 500,
                                "autoplayTimeout": 10000,
                                "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                                "responsive": {
                                    "0": {
                                        "items": 1
                                    },
                                    "768": {
                                        "items": 2
                                    },
                                    "992": {
                                        "items": 2
                                    },
                                    "1200": {
                                        "items": 2
                                    }
                                }
                            }'>
                            <div class="item">
                                <div class="testimonial-one__single">
                                    <div class="testimonial-one__single-inner">
                                        <div class="testimonial-one__shape-1">
                                            <img src="assets/images/shapes/testimonial-one-shape-1.png" alt="">
                                        </div>
                                        <div class="testimonial-one__client-info">
                                            <div class="testimonial-one__client-img-box">
                                                <img src="assets/images/testimonial/testimonial-1-1.jpg" alt="">
                                                <div class="testimonial-one__quote">
                                                    <img src="assets/images/testimonial/testimonial-1-quote.png"
                                                         alt="">
                                                </div>
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <div class="testimonial-one__client-review">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="testimonial-one__client-details">
                                                    <h3 class="testimonial-one__client-name">Smith Vectoria</h3>
                                                    <p class="testimonial-one__client-sub-title">director</p>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="testimonial-one__text">Pellentesque habitant morbi tristique
                                            senectus netus et malesuada fames ac turp egestas. Aliquam viverra arcu.
                                            Donec aliquet blandit enim feugiat mattis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-one__single">
                                    <div class="testimonial-one__single-inner">
                                        <div class="testimonial-one__shape-1">
                                            <img src="assets/images/shapes/testimonial-one-shape-1.png" alt="">
                                        </div>
                                        <div class="testimonial-one__client-info">
                                            <div class="testimonial-one__client-img-box">
                                                <img src="assets/images/testimonial/testimonial-1-2.jpg" alt="">
                                                <div class="testimonial-one__quote">
                                                    <img src="assets/images/testimonial/testimonial-1-quote.png"
                                                         alt="">
                                                </div>
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <div class="testimonial-one__client-review">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="testimonial-one__client-details">
                                                    <h3 class="testimonial-one__client-name">Christine Eve</h3>
                                                    <p class="testimonial-one__client-sub-title">director</p>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="testimonial-one__text">Pellentesque habitant morbi tristique
                                            senectus netus et malesuada fames ac turp egestas. Aliquam viverra arcu.
                                            Donec aliquet blandit enim feugiat mattis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-one__single">
                                    <div class="testimonial-one__single-inner">
                                        <div class="testimonial-one__shape-1">
                                            <img src="assets/images/shapes/testimonial-one-shape-1.png" alt="">
                                        </div>
                                        <div class="testimonial-one__client-info">
                                            <div class="testimonial-one__client-img-box">
                                                <img src="assets/images/testimonial/testimonial-1-3.jpg" alt="">
                                                <div class="testimonial-one__quote">
                                                    <img src="assets/images/testimonial/testimonial-1-quote.png"
                                                         alt="">
                                                </div>
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <div class="testimonial-one__client-review">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="testimonial-one__client-details">
                                                    <h3 class="testimonial-one__client-name">Hallen Smith</h3>
                                                    <p class="testimonial-one__client-sub-title">director</p>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="testimonial-one__text">Pellentesque habitant morbi tristique
                                            senectus netus et malesuada fames ac turp egestas. Aliquam viverra arcu.
                                            Donec aliquet blandit enim feugiat mattis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-one__single">
                                    <div class="testimonial-one__single-inner">
                                        <div class="testimonial-one__shape-1">
                                            <img src="assets/images/shapes/testimonial-one-shape-1.png" alt="">
                                        </div>
                                        <div class="testimonial-one__client-info">
                                            <div class="testimonial-one__client-img-box">
                                                <img src="assets/images/testimonial/testimonial-1-4.jpg" alt="">
                                                <div class="testimonial-one__quote">
                                                    <img src="assets/images/testimonial/testimonial-1-quote.png"
                                                         alt="">
                                                </div>
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <div class="testimonial-one__client-review">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="testimonial-one__client-details">
                                                    <h3 class="testimonial-one__client-name">Kevin Martin</h3>
                                                    <p class="testimonial-one__client-sub-title">director</p>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="testimonial-one__text">Pellentesque habitant morbi tristique
                                            senectus netus et malesuada fames ac turp egestas. Aliquam viverra arcu.
                                            Donec aliquet blandit enim feugiat mattis.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonial One End-->

    <!--News One Start-->
    <section class="news-one" id="news">
        <div class="container">
            <div class="section-title text-center">
                <div class="section-sub-title-box">
                    <p class="section-sub-title">recent news feed</p>
                    <div class="section-title-shape-1">
                        <img src="assets/images/shapes/section-title-shape-1.png" alt="">
                    </div>
                    <div class="section-title-shape-2">
                        <img src="assets/images/shapes/section-title-shape-2.png" alt="">
                    </div>
                </div>
                <h2 class="section-title__title">Latest news & articles <br> from the blog</h2>
            </div>
            <div class="row">
                <% for(let i =0; i< blogs.length; i++) { %>
                <!--News One Single Start-->
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <div class="news-one__single">
                        <div class="news-one__img">
                            <img src="assets/images/blog/news-1-1.jpg" alt="">
                            <div class="news-one__tag">
                                <p><i class="far fa-folder"></i>BUSINESS</p>
                            </div>
                            <div class="news-one__arrow-box">
                                <a href="/<%= blogs[i]._id %>" class="news-one__arrow">
                                    <span class="icon-right-arrow1"></span>
                                </a>
                            </div>
                        </div>
                        <div class="news-one__content">
                            <ul class="list-unstyled news-one__meta">
                                <li><a href="/<%= blogs[i]._id %>"><i class="far fa-calendar"></i> <%= new Date(blogs[i].date).toDateString() %> </a>
                                </li>
                                <li><a href="/<%= blogs[i]._id %>"><i class="far fa-comments"></i> 02 Comments</a>
                                </li>
                            </ul>
                            <h3 class="news-one__title"><a href="/<%= blogs[i]._id %>"><%= blogs[i].title %></a></h3>
                            <p class="news-one__text"><%= blogs[i].text_short %></p>
                            <div class="news-one__read-more">
                                <a href="/<%= blogs[i]._id %>">Lire plus <i class="fas fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News One Single End-->
                <% } %>
            </div>
        </div>
    </section>
    <!--News One End-->

    <!--Tracking Start-->
    <section class="tracking">
        <div class="container">
            <div class="tracking__inner">
                <div class="tracking-shape-1 float-bob-y">
                    <img src="assets/images/shapes/tracking-shape-1.png" alt="">
                </div>
                <div class="tracking-shape-2 float-bob-x">
                    <img src="assets/images/shapes/tracking-shape-2.png" alt="">
                </div>
                <div class="tracking-shape-3 float-bob-x">
                    <img src="assets/images/shapes/tracking-shape-3.png" alt="">
                </div>
                <div class="tracking-shape-4 float-bob-y">
                    <img src="assets/images/shapes/tracking-shape-4.png" alt="">
                </div>
                <div class="tracking__left">
                    <div class="tracking__icon">
                        <span class="icon-folder"></span>
                    </div>
                    <div class="tracking__content">
                        <p class="tracking__sub-title">Quisque vel ortor</p>
                        <h3 class="tracking__title">Start tracking your claims</h3>
                    </div>
                </div>
                <div class="tracking__btn-box">
                    <a href="/faq" class="thm-btn tracking__btn">Trak Your Claim</a>
                </div>
            </div>
        </div>
    </section>
    <!--Tracking End-->

<%- include('footer.ejs') -%>