<%- include('header.ejs') -%>

    <!--Page Header Start-->
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
    <section class="page-header">
        <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
        </div>
        <div class="page-header-shape-1"><img src="assets/images/shapes/page-header-shape-1.png" alt=""></div>
        <div class="container">
            <div class="page-header__inner">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="/">Accueil</a></li>
                    <li><span>/</span></li>
                    <li>Post</li>
                </ul>
                <h2>Nouveau poste</h2>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <!--News Details Start-->
    <section class="news-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="news-details__left">
                        <div class="news-details__img">
                            <img src="assets/images/blog/news-details-img-1.jpg" alt="">
                        </div>
                        <div class="news-details__content">
                            <ul class="list-unstyled news-details__meta">
                                <li><a href="news-details.html"><i class="far fa-calendar"></i> <%= new Date(date).toDateString() %> </a>
                                </li>
                                <li><a href="news-details.html"><i class="far fa-comments"></i> <%= comments.length %> Commentaire(s)</a>
                                </li>
                            </ul>
                            <h3 class="news-details__title"><%= title %></h3>
                            <p class="news-details__text-1"><%= text %></p>
                        </div>
                        <div class="news-details__bottom">
                            <p class="news-details__tags">
                                <span>Tags</span>
                                <% for(let i =0; i< tags.length; i++) { %>
                                <a href="#"><%= tags[i] %></a>
                                <% } %>
                            </p>
                            <div class="news-details__social-list">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="blgo-details__pagenation-box">
<!--                            <ul class="list-unstyled news-details__pagenation">-->
<!--                                <li>We proudly protect our loved ones life</li>-->
<!--                                <li>Survived not only five centuries</li>-->
<!--                            </ul>-->
                        </div>
                        <div class="comment-one">
                            <h3 class="comment-one__title"><%= comments.length %> commentaire(s)</h3>
                            <% for(let i =0; i< comments.length; i++) { %>
                            <div class="comment-one__single">
                                <div class="comment-one__image">
                                    <img src="assets/images/blog/comment-1-1.jpg" alt="">
                                </div>
                                <div class="comment-one__content">
                                    <h3><%= comments[i].name%></h3>
                                    <p><%= comments[i].message%></p>
                                    <p class="text-end"><%= new Date(comments[i].date).toDateString()%> <%= new Date(comments[i].date).getUTCHours()%>:<%= new Date(comments[i].date).getMinutes()%>:<%= new Date(comments[i].date).getSeconds()%></p>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div class="comment-form">
                            <h3 class="comment-form__title">Laissez un commentaire</h3>
                            <form action="comments" class="comment-one__form contact-form-validated"
                                  novalidate="novalidate" method="POST">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="comment-form__input-box">
                                            <input type="text" placeholder="Nom Complet" name="name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="comment-form__input-box">
                                            <input type="email" placeholder="Adresse mail" name="email">
                                            <input type="hidden" placeholder="" name="poste" value="<%= postId %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="comment-form__input-box text-message-box">
                                            <textarea name="message" placeholder="Message"></textarea>
                                        </div>
                                        <div class="comment-form__btn-box">
                                            <button type="submit" class="thm-btn comment-form__btn">Envoyer</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="sidebar">
                        <div class="sidebar__single sidebar__search">
                            <form action="#" class="sidebar__search-form">
                                <input type="search" placeholder="Recherche">
                                <button type="submit"><i class="icon-magnifying-glass"></i></button>
                            </form>
                        </div>
                        <div class="sidebar__single sidebar__post">
                            <h3 class="sidebar__title">Postes Recents</h3>
                            <ul class="sidebar__post-list list-unstyled">
                                <% for(let i =0; i< postes.length; i++) { %>
                                <li>
                                    <div class="sidebar__post-image">
                                        <img src="assets/images/blog/lp-1-1.jpg" alt="">
                                    </div>
                                    <div class="sidebar__post-content">
                                        <h3>
                                                <span class="sidebar__post-content-meta"><i
                                                            class="far fa-user-circle"></i> Par l'admin</span>
                                            <a href="/<%= postes[i]._id %>"><%= postes[i].title %></a>
                                        </h3>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--News Details End-->

<%- include('footer.ejs') -%>>